.App {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	height: 100vh;
}
.joke-btn {
	  color: #036ab8;
    display: inline-block;
    vertical-align: middle;
    font: inherit;
    text-align: center;
    margin: 0;
    cursor: pointer;
    overflow: visible;
    padding: 15px 30px;
    background-color: white;
    border: 3px solid #036ab8;
		border-radius: 999px;
		font-size: 25px;
}
i {
	font-size: 40px;
}

.joke-btn:hover {
	color: white;
	    background-color: #036ab8;
}
.joke-btn:hover i {
	color: white;
}

.main-content {
	min-height: 100vh;
}

